@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #fff;
}

body{
    width: 100%;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

header nav{
    display: flex;
    list-style-type: none;
    align-items: center;
}

header nav a{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    color: #fff;
    transition: 300ms;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 0 20px;
}

a.active-nav, 
.footer-top>div div a.active-nav{
    color: #FF6F59;
}

a.a-bttn-feel.active-nav{
    color: #272D2D;
}

#mobile-menu-container a.mobile-active-nav{
    color: #FF6F59;
    border-color: #FF6F59;
}


header nav a:hover{
    color: #FF6F59;
}

.a-bttn-feel{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    color: #fff;
    transition: 300ms;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 0 20px;
    background-color: #FF6F59;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: inset 2px 3px 4px rgba(255, 255, 255, 0.6);
}

.a-bttn-feel:hover{
    color: #fff;
    box-shadow: inset 2px 3px 4px rgba(0, 0, 0, 0.6);
}



.work-with-us{
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(4.66deg, #00DDC2 3.75%, #0071BC 96.21%);
}

.work-with-us h4{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    text-align: center;

    color: #FFFFFF;
}

.work-with-us .a-bttn-feel{
    margin: 20px 0 ;
}

footer{
    background-color: #272D2D;
    min-height: 350px;
    box-sizing: border-box;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-top{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: space-between;
}

.footer-top>div div{
    padding: 10px 0;
}

.footer-top>div:nth-child(1){
    width: 16%;
}

.footer-top>div:nth-child(1) p{
    padding: 20px 0;
}

@media screen and (min-width: 1279px) and (max-width: 1910px) {
    .footer-top>div:nth-child(1) {
        width:22%;
    }
}

.footer-top>div:nth-child(2){
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.footer-top>div div a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: #FFFFFF;
    transition: 300ms;
    padding: 5px;
}

.footer-top>div div a:hover{
    color: #FF6F59;
}

.footer-bottom p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    opacity: 0.7;
}

.bttm-image{
    height: 400px;
    background: url(../assets/images/g-mask.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#back-top{
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

#back-top i{
    font-size: 30px;
    color: #FF6F59;
    border: 2px solid #FF6F59;
    border-radius: 50%;
    padding: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: 300ms;
}

#back-top i:hover{
    cursor: pointer;
    background-color: #fff;
    border-color: #fff;
    color: #FF6F59;
}

#mobile-menu{
    display: none;
    position: absolute;
    /* width: 100%; */
    right: 0;
    top: 0;
    align-items: flex-start;
    backdrop-filter: blur(0);
    /* backdrop-filter: blur(4px); */
}

#mobile-menu-btn{
    padding: 50px 20px;
}

#mobile-menu-container{
    display: none;
    height: 100vh;
    /* display: flex; */
    flex-direction: column;
    width: 100%;
    background-color: #f5f5f5;

}

#mobile-menu-container a{
    background: transparent;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
    font-size: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    color: #272D2D;
    border-bottom: 1px solid #272D2D;
    transition: 300ms;
}

#mobile-menu-container a:hover{
    color: #FF6F59;
    border-color: #FF6F59;
    cursor: pointer;
}

#mobile-menu .fa-solid{
    color: #fff;
    font-size: 30px;
    transition: 300ms;
}

#mobile-menu .fa-solid:hover{
    cursor: pointer;
    color: #FF6F59;
}

@media screen and (max-width: 1240px) {

    .footer-top div:nth-child(1){
        width: 60%;
    }

    .footer-top>div:nth-child(2){
        width: 40%;
    }

    .footer-top>div:nth-child(2) div{
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    #desktop-menu{
        display: none;
    }
    
    #mobile-menu{
        display: flex;
    }

    footer-top>div:nth-child(2) div{
        width: 100%;
    }
    
}

@media screen and (max-width: 650px){
    footer .footer-top{
        flex-direction: column;
        margin-bottom: 40px;
    }

    .footer-top div:nth-child(1),
    .footer-top div:nth-child(2){
        width: 100% !important;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}


@media screen and (max-width: 450px){

    .bttm-image{
        height: 150px;
    }

}

@media screen and (max-width: 430px){

    .work-with-us h4{
        padding: 20px;
        font-size: 30px;
    }
    
}

@media screen and (max-width: 320px){
    #logo img,
    .footer-logo img{
        width: 140px;
    }
}
section {
    position:relative;
}
#sem {
    position:absolute;
}
#branding {
    position:absolute;
}
#seo {
    position:absolute;
}
#social {
    position:absolute;
}